:root{
    --primary:#0A0C19;
    --secoundry:#1B1938;
    --white:#ffff;
    --vaiolate:#AA5CDB;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
.hero-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}
.card{
    height:60vh;
    width:70%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}
.card-text{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    color:var(--white);
    background-color: var(--secoundry);
    
}
.card-title>h1{
    margin-bottom: 25px;
}
.card-start{
    display: flex;
    gap: 25px;
}
.overlay{
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--vaiolate);
    opacity: 0.3;
    z-index: 500;
    transition:all ease-in 300ms;
    
}
.card:hover .overlay{
    opacity: 0;
}
.card:hover .card-image img {
    filter: grayscale(0%);
}
.insights-color{
    color:var(--vaiolate);
}
.card-image{
    height: 100%;
    width: 50%;
    position: relative;
    
}
.card-image img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position:left;
    filter: grayscale(100%);
}

@media only screen and (max-width:1100px) {
    .card-text{
        width: 70%;
    }
    .card-image{
        width: 30%;
    }
    
}
@media only screen and (max-width:800px) {
    .card{
        height: 100vh;
        flex-direction: column-reverse;
    }
    .card-text{
       
        width: 100%;
    }
    .card-image{
        
        width: 100%;
    }
    
}
@media only screen and (max-width:500px) {

    .card-text{
        height: 80%;
        padding: 10px;
    }
    .card-image{
        height: 20%;
    }
    .card-title>h1{
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
    
}